# --- api ---
APIPort=8080
JWTSecret=please-change-me-to-a-long-random-string
JWTAccessTokenExpirationInSeconds=900
JWTRefreshTokenExpirationInSeconds=604800


# --- db variables ---
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=devspace

DB_PORT=5432
DB_HOST=db
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=devspace
DB_SSLMODE=disable


# --- features ---
GORM_LOGGER=false
DEBUG=false


# --- argon ---
ARGON_MEMORY_USAGE=54
ARGON_ITERATIONS=5
ARGON_PARALL=5
ARGON_SALT_LEN=16
ARGON_KEY_LEN=32