.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: var(--bg--main);
  border: 1px solid var(--border--main);
  border-radius: 16px;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  gap: 14px;
}

.textInfo {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.bio {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.skills {
  display: flex;
  gap: 6px;
  height: 24px;
  overflow: hidden;
}

.actions {
  display: flex;
  gap: 8px;
  margin-top: 4px;
}
